services:
  # Contenedor para el servidor web (Apache con PHP)
  web:
    build: .

    # Nombre que le damos al contenedor
    container_name: apache_web
    volumes:
      - ./html:/var/www/html
    
    # Redirección de puertos
    # El de la izquierda es el puerto de nuestra máquina y el de la derecha el del contenedor
    ports:
      - "8090:80"

    # Red que va a usar
    networks:
      - mi_red


  # Servicio PostgreSQL
  postgres_db:
    image: postgres
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5452:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
      # Mapeamos el script de Postgres
      - ./bd/script_messenger_postgres.sql:/docker-entrypoint-initdb.d/init.sql
    # Red que va a usar
    networks:
      - mi_red


  # (Opcional) Interfaz web para ver las BDs gráficamente
  adminer:
    image: adminer
    container_name: gestor_bd
    restart: always
    ports:
      - "8091:8080"
    depends_on:
      - postgres_db
    # Red que va a usar
    networks:
      - mi_red

# Redes usadas por mis contenedores
networks:
  mi_red:

volumes:
  postgres_data:
